Source: mt-wallpapers
Maintainer: mobilturka <muslimlinux@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0
Section: utils

Package: mt-wallpapers
Priority: extra  
Architecture: all
Depends:
Description: mt-wallpapers
 Wallpapers for Debian based distros
